html,
body {
  background-color: $dark-white;
  height: 100%
}

.seperator {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.site-branding {
  display: block;
  padding: 60px 0;
  text-align: center;
  .site-title {
    position: relative;
    z-index: 9000;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 15px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    &.title-image {
      margin-top: 0;
      img {
        height: 150px;
        width: auto;
        margin-bottom: 5px;
      }
    }
  }
  @media screen and (max-width: 37.5em) {
    padding: 20px 0;
    .site-title {
      padding-top: 50px;
      &.title-image {
        img {
          height: 100px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.login-container {
  padding-top: 150px;
}

@media only screen and (max-width: 767px) {
  .well {
    margin: 0 10px;
  }
}

.copyright {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  background-color: $white;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-content {
    flex: 1;
  }
}

.oops {
  font-size: 150px;
  font-weight: 700;
  color: $dark-white;
}

a.error-link {
  color: $dark-white;
  text-decoration: none;
}

.error-text {
  color: $dark-white;
}

.error-text-large {
  color: $dark-white;
  font-size: 80px;
  font-weight: 600;    
}

.error-background {
  background-image: url('../imgs/error_img.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}