<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/category/beauty">Beauty</a></li>
        <li><a href="/category/fashion">Fashion</a></li>
        <li><a href="/category/travel">Travel</a></li>
        <li><a href="/category/fitness">Fitness</a></li>
        <li><a href="/category/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/gabriella.gloria.3" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/gabriellaag_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
        <li><a href="https://www.instagram.com/gabriellagloria_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC49jz6IeQ9L8wPHo9wIzFRA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>